<%= form_for(orgcomment) do |f| %>
  <% if orgcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orgcomment.errors.count, "error") %> prohibited this orgcomment from being saved:</h2>

      <ul>
      <% orgcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
