<p id="notice"><%= notice %></p>





<div class="container">
  <div class="new_organization col-md-12">
    <%= will_paginate @organizations %>

    <% @organizations.each do |organization| %>
        <div class="col-md-4">
          <h4><%= link_to organization.title, organization %></h4>
          <ul>
            <li><%= 'Описание' %>: <%= organization.description %></li>
            <li><%= 'Категория' %>: <%= organization.category.title %></li>
            <li><%= image_tag organization.image.url(:thumb) %></li>
            <li>Обслуживание  : <%= rating_for organization, 'speed', star: 5 %></li>
            <li>Качество : <%= rating_for organization, 'engine', star: 5 %></li>
            <li>Цена  : <%= rating_for organization, 'price', star: 5 %></li>
          </ul>
        </div>
    <% end %>

  </div>
  <br>
  <br>
  <% if user_signed_in? %>
      <%= link_to 'Create New Organization', new_organization_path %>
  <% end %>

</div>



