<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @organization.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<li><%= image_tag @organization.image.url(:thumb) %></li>
<li><%= rating_for @organization, 'speed', disable_after_rate: true %></li>
<li><%= rating_for @organization, 'engine', disable_after_rate: true %></li>
<li><%= rating_for @organization, 'price', disable_after_rate: true %></li>
<% if current_user.id == @organization.user_id %>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
<% end %>
